[Unit]
Description=BulutBilisimciler Editor Agent Rev: 1.0
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart="docker run -d --name pgadmin_container -p 5050:5050 -e PGADMIN_DEFAULT_EMAIL=user@domain.com -e PGADMIN_DEFAULT_PASSWORD=bulutbilisimciler dpage/pgadmin4"
ExecReload=/usr/bin/script.sh

[Install]
WantedBy=multi-user.target

